@import "../vars";

@keyframes fadein {
  from {opacity: 0.0;}
  to {opacity:1.0;}
}

.modal {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  max-height: 95%;
  bottom: 5%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0;
  outline: none;
  padding: 2rem;

  &:not(.fs) {
    @media (max-height: $small-screen-h) {
      bottom: 10px !important;
    }
  }

  &.fs {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    border: none;
  }

  @media (max-width: $small-screen) {
    left: 10px !important;
    right: 10px !important;
    top: 10px !important;
    bottom: 10px !important;
    padding: 10px !important;
  }
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: $slideslist-height;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 1000;

  animation: fadein 0.3s ease-in;

  &.fs {
    right: 50%;
    bottom: $slideslist-height*2;
  }

  @media (max-width: $small-screen) {
    right: 0 !important;
    bottom: $slideslist-height !important;
  }
}

.annotation {
  height: calc(100% - 3.5rem);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  overflow: auto;

  display: flex;
  flex-direction: column;
}
.annotationText {
  height: 100%;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;

  p,pre {
    margin: 0 0 1rem;
  }
  pre {
    padding: $padding;
    background-color: lighten($color-disabled, 10%);
    min-height: 1.6rem;
  }
  code {
    background-color: lighten($color-disabled, 10%);
    color: $brand-code;
  }
}
.annotationText > div {
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::after, &::before {
    display: block;
    content: '';
    flex: 1;
  }
}

.dots {
  font-size: 0.5rem;
  line-height: 2rem;
  .dot {
    color: #ddd;
  }
  .activeDot {
    color: #666;
  }
}

.invisible {
  visibility: hidden;
}

.editor {
  flex: 1;
  position: relative;
  :global .ace_editor {
    position: absolute;
  }
  :global .ace_cursor-layer {
    opacity: 0.1;
    transition: opacity $transition;
    &:hover {
      opacity: 0.9;
    }
  }
}

.button {
  border: none;
  outline: none;
  padding: $padding;
  color: $color-inverse;
  background: $brand-primary-light;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  @media (max-width: $small-screen) {
    right: .5rem;
    top: .5rem;
  }
}

.fileName {
  text-align: right;
  margin: 0;
  margin-bottom: 0.2rem;
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8rem;
}

.editMode {
  background: rgba(255, 25, 25, 0.5);
}

.slideDescription {
  margin: 1rem 0;
}

.slideDescription, .annotationText {
  audio {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
}

.slideTitle {
  color: darken($color-disabled, 10%);
  position: absolute;
  top: 1rem;
  left: 2rem;
  margin: 0;

  @media (max-width: $small-screen) {
    left: .5rem;
    top: .5rem;
  }
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;

  @media (max-width: $small-screen) {
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
  }

  .button {
    flex: 0 0 8rem;
    max-width: 30vw;
    white-space: nowrap;
  }
}


.reopen {
  background: none;
  border: none;
  bottom: 2em;
  font-size: 1.8em;
  left: 0.1em;
  opacity: 0;
  outline: none;
  pointer-events: none;
  position: fixed;
  z-index: 100;

  transition: opacity 0.2s ease-in-out, color 0.2s ease-in;

  &:hover {
    color: $brand-primary;
  }

  &.reopenVisible {
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
  }
}
