@import "../vars";

.annotation {
  height: calc(100% - 3.5rem);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.dots {
  font-size: 0.5rem;
  line-height: 2rem;
  .dot {
    color: #ddd;
  }
  .activeDot {
    color: #666;
  }
}

.invisible {
  visibility: hidden;
}

.editor {
  flex: 1;
  position: relative;
  > div {
    position: absolute;
  }
  :global .ace_cursor-layer {
    opacity: 0.1;
    transition: opacity $transition;
    &:hover {
      opacity: 0.9;
    }
  }
}

.button {
  border: none;
  outline: none;
  padding: $padding;
  color: $color-inverse;
  background: $brand-primary-light;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fileName {
  text-align: right;
  margin: 0;
  margin-bottom: 0.2rem;
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8rem;
}

.slideDescription {
  margin: 1rem 0;
}
.slideTitle {
  color: darken($color-disabled, 10%);
  position: absolute;
  top: 1rem;
  left: 2rem;
  margin: 0;
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;

  .button {
    flex: 0 0 8rem;
  }
}
