@import '../vars.scss';

.tabs {
  border-bottom: $border-small solid $brand-primary;
  height: $filetabs-height - $border-small;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    overflow-x: auto;
  }
}

.tab, .tabActive {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: $filetabs-height - $border-small;
  line-height: $filetabs-height - 2*$padding;

  padding: $padding;
  padding-bottom: $padding - $border;
  padding-right: $padding + $padding;
  border-bottom: $border solid transparent;

  transition: border $transition;

  cursor: pointer;
  &:hover {
    border-color: $brand-primary-light;
  }
}

.tabActive {
  border-color: $brand-primary;
}

.badge {
  position: absolute;
  color: $brand-danger;
  top: 0;
  right: 0;
  font-size: $padding;
}
