<!DOCTYPE html>

<html xp-run-server-url="<%= run_server_url %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Deck</title>
    <% if (debug === false) { %>
      <link type="text/css" rel="stylesheet" media="all" href="css/deck.<%= version %>.css" />
    <% } %>
  </head>
  <body>

    <xp-deck>
      <link async rel="import" href="./slide.html" title="Slide Number 1" />
      <link async rel="import" href="./slide-ts.html" />
      <link async rel="import" href="./slide-ts2.html" />
      <link async rel="import" href="./slide-jsx.html" />
      <link async rel="import" href="./slide-timer.html" />
      <link async rel="import" href="./slide-go.html" />
      <link async rel="import" href="./slide1.html" root="./containers/" />
      <link async rel="import" href="./slide1.html" />
      <link async rel="import" href="./slide1.html" />
    </xp-deck>

    <script async src="js/deck.<%= version %>.js"></script>
  </body>
</html>
