<!DOCTYPE html>
<html xp-run-server-url="<%= run_server_url %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Slide 2</title>
    <script src="js/slide_loader.<%= version %>.js"></script>
  </head>
  <body class="xp-slide">
    <div class="xp-column" style="width:40%">
      <xp-editor>
        <script id="main.java" type="application/java">
          public class Main {
            public static void main(String[] argv) {
              System.out.println("Test!");
            }
          }
        </script>
      </xp-editor>
    </div>
    <div class="xp-resize-column"></div>
    <div class="xp-column" style="width:50%; float:right">
      <xp-preview runner="java"></xp-preview>
    </div>
  </body>
</html>
