<!DOCTYPE html>
<html xp-run-server-url="<%= run_server_url %>" xp-presence-url="<%= presence_server_url %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Timer</title>
    <script src="js/slide_loader.<%= version %>.js"></script>
  </head>
  <body class="xp-slide">
    <div class="xp-row center" style="height: 30%">
      <h1>Hello Timer</h1>
      <xp-timer>50</xp-timer>
    </div>
    <div class="xp-resize-row"></div>
    <div class="xp-row center" style="height: 70%">
      <xp-tasks time="30">
        <h1>Tasks are awesome</h1>
        <ol>
          <li class="xp-basic">Task number 1</li>
          <li class="xp-basic">Task number 2</li>
          <li class="xp-advanced">Advanced `task number 1`</li>
          <li class="xp-advanced">Advanced `task number 2`</li>
          <li class="xp-extra">Extra task with **markdown**!</li>
        </ol>
        <footer>
          <p>Tasks sub-description</p>
        </footer>
      </xp-tasks>
    </div>
  </body>
</html>
