<!DOCTYPE html>
<html xp-run-server-url="<%= run_server_url %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Slide 1</title>
    <script src="js/slide_loader.<%= version %>.js"></script>
  </head>
  <body class="xp-slide">
    <div class="xp-row with-comments">
      <div class="xp-column">
        <xp-editor active="src/main.js">
          <script id="index.html" type="text/html" highlight>
            <html>
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width">
                <title>Slide 1</title>
              </head>
              <body>
                <!-- Use `h1` to create header -->
                <h1>Hello World</h1>
                <script src="src/main.js"><+/script>
              </body>
            </html>
          </script>
          <script id="src/main.js" type="application/octetstream" highlight>
            //3/ 2. Hello World!
            function helloWorld() {
              console.log("Hello!")
            }
            // 1. This line
            helloWorld();
            // Next line
            var x = 5;
          </script>
          <script id="res/slide.html" type="text/html" src="slide.html"></script>
        </xp-editor>
      </div>
      <div class="xp-resize-column"></div>
      <div class="xp-column">
        <xp-preview runner="html"></xp-preview>
      </div>
    </div>
    <div class="xp-row comments">
      <xp-annotations>
        <header>
          <h1>Hello World! - Slide 1</h1>
        </header>
        <details>
          <h3>This is first great slide!</h3>
        </details>
        <aside file="index.html" order="1">
          You can also use other headers from <code>h2</code> to <code>h6</code>
        </aside>
    </div>
  </body>
</html>
