<!DOCTYPE html>
<html xp-run-server-url="<%= run_server_url %>" xp-presence-url="<%= presence_server_url %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Slide GO</title>
    <script src="js/slide_loader.<%= version %>.js"></script>
  </head>
  <body class="xp-slide">
    <div class="xp-column">
      <xp-editor>
        <script id="index.go" type="text/go">
          package main

          import "os"
          import "fmt"

          func main() {
            var port = os.Getenv("PORT")
            fmt.Println("Hello, 世界")
            fmt.Println(port)
          }
        </script>
      </xp-editor>
    </div>
    <div class="xp-column">
      <xp-preview runner="go"></xp-preview>
    </div>
  </body>
</html>
