@import '../vars.scss';

.result, .resultLoading {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  border-left: $border-small solid $brand-primary-light;
  background: none;
  transition: opacity $transition;
}
.resultLoading {
  opacity: 0.3;
}
