@import '../vars.scss';

.result {
  position: absolute;
  top: $previewbar-height;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - #{$previewbar-height});
  border: none;
  border-left: 1px solid $brand-primary-light;
  background: none;
}
