@import '../vars.scss';

.result, .resultLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  box-sizing: border-box;
  border: none;
  background: none;
  transition: opacity $transition;
}
.resultLoading {
  opacity: 0.3;
}
