@import '../vars.scss';

.people {
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  top: 0;
  left: 2px;
  font-size: 0.5rem;
  border-radius: 50%;
  text-align: center;
  display: block;
  background: $brand-primary-light;
  color: $color-inverse;
  min-width: 0.5rem;
  height: 0.5rem;
  padding: 0.2rem;
}

.list {
	$shadow: $border-small * 2;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: $slideslist-height;
  white-space: nowrap;
  border-top: $border-small solid $brand-primary;
	box-shadow: 0 (-$shadow) $shadow (-$shadow) $brand-primary;

  &:hover {
    overflow-x: auto;
  }
}
.item, .itemActive, .itemMore {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: $padding;
  padding-top: $padding - $border;
  border-top: $border solid transparent;
  border-left: $border-small solid $color-disabled;
  transition: border $transition;
  height: $slideslist-height;

  a {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    line-height: $slideslist-height - 2*$padding;
    width: 13vw;
    overflow: hidden;
    text-align: center;

    @media(max-width: $small-screen) {
      width: 16vw;
    }
  }

  &:hover {
    border-top-color: $brand-primary-light;
  }
}
.itemMore {
  a {
    min-width: 5vw;
    width: auto;
    text-align: center;
  }
}
.itemActive {
  border-top-color: $brand-primary;
  a {
    cursor: default;
  }
}
