@import '../vars.scss';

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transition: opacity $transition-long;
  transition-delay: 0.3s;

  body {
    height: 100%;
  }
}

.hidenow {
  transition: none;
  opacity: 0;
}
.hidden {
  opacity: 0;
  transition-delay: 0;
}

.slideContainer {
  position: absolute;
  top: 0;
  bottom: $slideslist-height;
  left: 0;
  right: 0;
  overflow: hidden;
}
