@import "../components/vars.scss";

.task {
  padding: $border 0;
  font-size: 1.35rem;
  line-height: 1.6;

  > div {
    float: left;

    ul, ol {
      display: block !important;
    }
  }
}

.badge {
  position: relative;
  top: -$border/2;
  line-height: 1.4;
  display: inline-block;
  background-color: #44d;
  color: #fff;
  border: 1px solid #44a;
  border-radius: 3px;
  padding: 0 $border;
  font-size: 0.8rem;
  margin: 0 $border;
}
.basic {
  background-color: #4d4;
  border: 1px solid #4a4;
}
.advanced {
  background-color: #bb0;
  border: 1px solid #880;
}
.extra {
  background-color: #d44;
  border: 1px solid #a44;
}
