@import '../vars';

.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.previewBar {
  position: absolute;
  top: 0;
  height: $previewbar-height;
  left: 0;
  right: 0;
}
.runButton, .newTabButton {
  box-sizing: border-box;
  border: none;
  background: $brand-primary;
  color: $color-inverse;
  padding: $padding;
  height: $previewbar-height;
  transition: background $transition;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  vertical-align: top;

  &:hover {
    background: $brand-primary-light;
  }
}
.newTabButton {
  float: right;
}
