@import '../vars';

.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.previewBar {
  position: absolute;
  top: 0;
  height: $previewbar-height;
}
.runButton {
  box-sizing: border-box;
  border: none;
  background: $brand-primary;
  color: $color-inverse;
  padding: $padding;
  height: $previewbar-height;
  transition: background $transition;

  &:hover {
    background: $brand-primary-light;
  }
}
