@import '../vars.scss';

.treeEditor, .aceEditor {
  position: absolute;
  top: $filetabs-height;
  bottom: $border-small;
  left: 0;
  right: 0;
  background: $brand-light-bg;
  border-top: $border solid $brand-light-bg;
}
.treeEditor {
  border-top: $border solid $color-disabled;
}

.treeEditorAce {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $filetree-width;
  right: 0;
}

.editor,.editorEdit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

	:global {
		.ace_editor {
			background: $brand-light-bg;
		}
		.ace_highlight-line {
			background: #eaffea;
			position: absolute;
		}
	}
}
.editorEdit {
  background: $brand-danger;
  color: $color-inverse;
}
