@import '../vars.scss';

.editor,.editorEdit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

	:global {
		.ace_editor {
			background: $brand-light-bg;
			border-top: $border solid $brand-light-bg;
		}
		.ace_highlight-line {
			background: #eaffea;
			position: absolute;
		}
	}
}
.editorEdit {
  background: $brand-danger;
  color: $color-inverse;
}
