@import '../vars.scss';

.treeEditor, .aceEditor {
  position: absolute;
  top: $filetabs-height;
  bottom: $border-small;
  left: 0;
  right: 0;
  background: $brand-light-bg;
  border-top: $border solid $brand-light-bg;
}
.treeEditor {
  top: 0;
  border-top: $border solid $color-disabled;
}

.treeEditorAce {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor,.editorEdit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.editorEdit {
  background: $brand-danger;
  color: $color-inverse;
}
