@import '../vars.scss';

.mode, .modeLight {
  float: right;
  height: $filetabs-height;
  line-height: $filetabs-height;
  padding: 0 $padding;
}

.modeLight {
  opacity: 0.1;
  transition: opacity $transition;

  &:hover {
    opacity: 1.0;
  }
}
