@import '../vars.scss';

.mode {
  float: right;
  height: $filetabs-height;
  line-height: $filetabs-height;
}
.icon {
  width: $filetabs-height / 2;
  height: $filetabs-height / 2;
  padding: 0 $padding;
}
