@import '../vars.scss';

.mode, .modeLight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  height: $filetabs-height - $border-small * 2;
  line-height: $filetabs-height;
  padding: 0 $padding;
}

.modeLight {
  background: #fff;
  > div {
    opacity: 0.1;
    transition: opacity $transition;
  }

  &:hover > div {
    opacity: 1.0;
  }
}
