$font-size: 10px;

$filetabs-height: 30px;
$slideslist-height: 40px;
$previewbar-height: 30px;

$padding: 5px;
$border: 3px;

$color-inverse: #fff;
$brand-primary: #086E9D;
$brand-primary-light: lighten($brand-primary, 10%);

$brand-danger: #F44336;

$transition: ease-in-out 0.2s;
