$filetabs-height: 35px;
$slideslist-height: 45px;
$previewbar-height: 34px;
$filetree-width: 150px;

$padding: 7px;
$border: 4px;
$border-small: 1px;

$color-text: #444;
$color-inverse: #fff;
$color-disabled: #ddd;

$brand-primary: #086E9D;
$brand-primary-light: lighten($brand-primary, 10%);

$brand-danger: #F44336;
$brand-danger-light-bg: lighten($brand-danger, 30%);

$brand-light-bg: #F3F5F6;

$transition: ease-in-out 0.2s;
$transition-long: ease-in-out 0.5s;
