:global {
  @import '../components/scrollbars.scss';
  $commentSize: 50px;

  .xp-slide {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .xp-column {
      float: left;
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative;
    }

    .xp-row {
      display: block;
      height: 50%;
      width: 100%;
      position: relative;

      &.with-comment {
        height: calc(100% - #{$commentSize});
      }

      &.comment {
        height: $commentSize;
      }
    }

    @include scrollbars;

  }
}
