:global {
  @import '../components/scrollbars.scss';

  .xp-slide {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .xp-column {
      float: left;
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative;
    }

    .xp-row {
      display: block;
      height: 50%;
      width: 100%;
      position: relative;
    }

    @include scrollbars;

  }
}
