<div>
  <div class="row">
    <div class="col-sm-12">
      <div
        class="form-group"
        ng-class="{'has-error': $ctrl.error}"
        >
        <input
          type="text"
          class="form-control input-lg"
          ng-model="$ctrl.url"
          placeholder="Github Repository URL"
          />
          <span class="help-block" ng-show="$ctrl.error">
            {{ $ctrl.error }}
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          ng-model="$ctrl.username"
          ng-readonly="$ctrl.url"
          placeholder="or Username"
          />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          ng-model="$ctrl.repo"
          ng-readonly="$ctrl.url"
          placeholder="and Repository Name"
          />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Workshop Details</h4>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          ng-model="$ctrl.workshopName"
          placeholder="Workshop Name (optional)"
          />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          ng-model="$ctrl.workshopDate"
          placeholder="Workshop Date and Location (optional)"
          />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          ng-model="$ctrl.workshopLink"
          placeholder="Workshop Short Link (optional)"
          />
      </div>
    </div>
    <div class="col-sm-6">
      <h4>List of branches:</h4>
      <div class="form-group">
        <textarea
          type="text"
          class="form-control"
          rows="5"
          ng-model="$ctrl.branches"
          placeholder="List of branches"
        ></textarea>
      </div>
      <p>
        <small>
          One branch per line. To add a title type:
          <code>branch=branchTitle</code>, for example:
          <code>react=Introduction to React</code>
        </small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group">
        <button
          class="btn btn-primary btn-block btn-lg"
          ng-disabled="$ctrl.error || !$ctrl.username || !$ctrl.repo || !$ctrl.branches || $ctrl.response.isGenerating"
          ng-click="$ctrl.generateSlides()"
          >
          <span class="glyphicon glyphicon-random" ng-show="!$ctrl.response.isGenerating"></span>
          <span class="glyphicon glyphicon-refresh" ng-show="$ctrl.response.isGenerating"></span>
          &nbsp;
          <span ng-show="!$ctrl.response.isGenerating">
            Generate Slides
          </span>
          <span ng-show="$ctrl.response.isGenerating">
            Generating...
          </span>
        </button>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="$ctrl.response.success !== null">
        <h2
          ng-class="{'text-success': $ctrl.response.success, 'text-danger': !$ctrl.response.success}"
          >{{ $ctrl.response.msg }}</h2>
      </div>
      <pre>{{ $ctrl.response.details }}</pre>
    </div>
  </div>
</div>
