@import '../vars.scss';

.tree {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  padding: 0 $padding;
  width: $filetree-width;
  overflow: hidden;
  overflow-x: auto;
  border-right: $border-small solid $color-disabled;

  :global {
    .tree-view {
      overflow-y: visible;
    }
  }
}

.node, .leaf {
  transition: all 0.5s;
  border-radius: 3px;
  &:hover {
    background-color: rgb(220, 245, 243);
    cursor: pointer;
  }
}

.node {
  padding: 2px 10px 2px 5px;
  user-select: none;
}


:global {
  .tree-view_arrow {
    transition: all 0.1s;
  }

  .tree-view_arrow-empty {
    color: yellow;
  }
}
